<div class="row">
    <div class="col-md-4 m-0 p-0">
        <img src="https://i.mdel.net/oftheminute/images/2019/07/Jill-06.jpg"
         alt=""
         class="img-fluid">
    </div>
    <div class="col-md-4 m-0 p-0">
        <img src="https://i.mdel.net/oftheminute/images/2019/07/Jill-06.jpg"
         alt=""
         class="img-fluid">
    </div>
    <div class="col-md-4 m-0  p-0">
        <img src="https://i.mdel.net/oftheminute/images/2019/07/Jill-06.jpg"
         alt =""
         class="img-fluid">
    </div>
</div>
<div class="container">
    <div class="row" *ngFor="let category of categoryList">
        <div class="col-md-6">
            <div class="border p-5">
                {{category.categoryName}}
            </div>
        </div>
    </div>
</div>
